<div class="best-rooms py-5">
    <div class="container py-md-5">
        <div class="ban-content-inf row">
            <div class="maghny-gd-1 col-lg-6">
                <div class="maghny-grid">
                    <figure class="effect-lily border-radius  m-0">
                        <img class="img-fluid" src="~/Traversal-Liberty/assets/images/mardin.jpg" alt="" />
                        <figcaption>
                            <div class = "mb-5">
                                <h4>6 Gece, 7 Gün Yaz Doğu Anadolu</h4>
                                <p>12500tl'den başlayan fiyatlar</p>
                            </div>

                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
                <div class="row">
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/kapkap.jpg" alt="" />
                                <figcaption>
                                    <div class="mb-5">
                                        <h4>3 Gece, 4 Gün Kapadokya</h4>
                                        <p>1500₺'den başlayan fiyatlar</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/Trabzon.jpg" alt="" />
                                <figcaption>
                                    <div class="mb-5">
                                        <h4>2 Gece, 3 Gün Karadeniz</h4>
                                        <p>9.500tl'dan başlayan fiyatlar</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/evlerarası.jpg" alt="" />
                                <figcaption>
                                    <div class="mb-5">
                                        <h4>5 Gece, 6 Gün Akdeniz</h4>
                                        <p>17.000tl'den başlayan fiyatlar</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/yerebatan.jpg" alt="" />
                                <figcaption>
                                    <div class="mb-5">
                                        <h4>4 Gece, 5 Gün Marmara</h4>
                                        <p>14.000tl'den başlayan fiyatlar</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>